@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" id="number"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" id="department"/>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input id="DateOfBirth" name="DateOfBirth" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" id="status" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-lable"></label>
                <input asp-for="Description" class="form-control" id="description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:20px">
                 <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<style>
    #DateOfBirth
    {
        display: block;
        outline: none;
        border: 1px solid #adb5bd;
        padding: 6px;
        width: 100%;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            let dateOfBirth = (@Model.DateOfBirth.ToString("yyyyMMdd")).toString();
            const date = dateOfBirth.slice(0, 4) + "-" + dateOfBirth.slice(4,6) + "-" + dateOfBirth.slice(6,8)
            $("#DateOfBirth").val(date);
        });
    </script>
}