@{
    ViewData["Title"] = "Home Page";
}


<!-- Page Content -->
<!DOCTYPE html>

<head>
    <style>
        /* CSS styles for the sections and dishes */
        .section {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            margin-top:10px;
        }

        .section-content {
            display: flex;
            width: 100%;
        }

            .section-content .divider {
                width: 1px;
                background-color: #000000;
                margin: 0 0 0 0;
            }

            .section h2 {
                text-align: center;
            }

        .website-list {
            list-style-type: none;
            padding: 0;
        }

            .website-list li {
                margin-bottom: 10px;
                margin-top: 10px;
            }

        .divider2 {
            width: 100%;
            height: 1px;
            background-color: #000000;
            margin: 10px 0;
        }

        .dividerLine {
            width: 100%;
            height: 1px;
            background-color: #000000;
        }
        .dividerLine2 {
            width: 14vw;
            height: 1px;
            background-color: #000000;
        }

        .bigger-paragraph {
            font-size: 20px;
            font-family: "Times New Roman", Times, serif;
        }
    </style>
</head>


<div class="container">
    <div class="text-center">
        <br />
        <h1 class="display-4">Welcome this is SEDV Homepage</h1>
    </div>
    <!-- Portfolio Item Heading -->



    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-7">
            <h1 class="my-4">
                Today NEW
                <small>in SEDV</small>
            </h1>
            <p class ="bigger-paragraph">Sumitomo Electricity is a global leader in providing comprehensive electrical and power solutions. Our extensive range of offerings includes power transmission, renewable energy solutions, electrical equipment, and industrial automation.</p>
            <img class="img-fluid" src="https://www.chademo.com/wp2021/wp-content/themes/chademo/img/products/sumitomoelectric.jpg" alt="">
            <p class="bigger-paragraph">With a strong commitment to quality, safety, and customer satisfaction, we deliver reliable and sustainable solutions tailored to meet the unique needs of our clients. Our team of experts works closely with customers to develop customized solutions that optimize their electrical systems and enhance operational efficiency.</p>
            <p class="bigger-paragraph">At Sumitomo Electricity, we pride ourselves on our technological advancements and innovative approach. We constantly strive to stay at the forefront of industry trends, integrating cutting-edge technologies into our products and services.</p>
            <img class="img-fluid" src="https://www.chademo.com/wp2021/wp-content/themes/chademo/img/products/sumitomoelectric.jpg" alt="">
        </div>

        <div class="col-md-5">
            <h1 class="my-4">
                Aivailable links
                <small>in SEDV</small>
            </h1>
                <div class="section">
                    <h2 style="font-weight: bold;">SEDV</h2>
                    <div class="divider2"> </div>
                    <div class="section-content">
                        <div class="col-md-6">
                        <ul class="website-list " style="font-weight: bold;">
                        <li><a class="link-danger" href="http://10.147.81.71:8080">PO System</a></li>
                                <li><div class="dividerLine"> </div></li>
                        <li><a class="link-danger" href="http://10.147.81.47/">Procedure Management</a></li>
                                <li><div class="dividerLine"> </div></li>
                        <li><a class="link-danger" href="http://10.147.81.48/">Temperature and Humidity</a></li>
                                <li><div class="dividerLine"> </div></li>
                        <li><a class="link-danger" href="http://10.147.81.80:9090/">RP System</a></li>
                                <li><div class="dividerLine"> </div></li>
                        <li><a class="link-danger" href="http://10.147.81.80:8002/">Stopped machine</a></li>
                                <li><div class="dividerLine"> </div></li>
                        <li><a class="link-danger" href="http://10.147.81.80:8003/">NG Cost_OPT</a></li>
                                <li><div class="dividerLine"> </div></li>
                        <li><a class="link-danger" href="http://10.147.81.80:8001/">NG Cost_FET</a></li>
                                <li><div class="dividerLine"> </div></li>
                        <li><a class="link-danger" href="http://10.147.81.80/">Progress Monitoring OPT</a></li>
                                <li><div class="dividerLine"> </div></li>
                        <li><a class="link-danger" href="http://10.147.81.8080/">Progress Monitoring FET</a></li>
                    </ul>
                            
                        </div>
                        <div class="divider"></div>
                        <ul class="website-list" style="font-weight: bold;">
                            <!-- Add your content for the second section here -->
                            <li style="padding-left: 10px;"><a class="link-dark" href="http://10.147.81.71:8080">Hệ thống quản lý mua hàng</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="padding-left: 10px;"><a class="link-dark" href="http://10.147.81.47/">Quản lý quy trình điện tử</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="padding-left: 10px;"><a class="link-dark" href="http://10.147.81.48/">Quản lý nhiệt độ và độ ẩm</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="padding-left: 10px;"><a class="link-dark" href="http://10.147.81.80:9090/">Giấy đỏ điện tử</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="padding-left: 10px;"><a class="link-dark" href="http://10.147.81.80:8002/">Máy sản xuất đang dừng</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="padding-left: 10px;"><a class="link-dark" href="http://10.147.81.80:8003/">Chi phí NG hàng OPT</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="padding-left: 10px;"><a class="link-dark" href="http://10.147.81.80:8001/">Chi phí NG hàng FET</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="padding-left: 10px;"><a class="link-dark" href="http://10.147.81.80/">Xem tiến độ hàng OPT</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="padding-left: 10px;"><a class="link-dark" href="http://10.147.81.8080/">Xem tiến độ hàng FET</a></li>
                        </ul>      
                    </div>

                </div>

                <div class="section">
                    <h2 style="font-weight: bold;">SEDI</h2>
                    <div class="divider2"> </div>
                    <div class="section-content">
                    <div class="col-md-6">
                    <ul class="website-list" style="font-weight: bold;">
                        <li><a class="link-danger" href="http://raptor-a01.sedi.jp/login">SEDI RP</a></li>
                    </ul>
                    </div>
                        <div class="divider"></div>
                        <ul class="website-list" style="font-weight: bold;">
                            <li style="padding-left: 10px;"><a class="link-dark" href="http://raptor-a01.sedi.jp/login">Giấy đỏ SEDI</a>

                </li>
                        </ul>
                    </div>
                </div>

                <div class="section">
                    <h2 style="font-weight: bold;">SEI</h2>
                    <div class="divider2"> </div>
                    <div class="section-content">
                        <div class="col-md-6">
                    <ul class="website-list" style="font-weight: bold;">
                        <li><a class="link-danger" href="http://gmcore.sei.co.jp/mcore/">GMCore</a></li>
                        <li><div class="dividerLine"></div></li>
                        <li><a class="link-danger" href="http://com00.is.sei.co.jp:7000/RakPortal30/rkptServlet">SEI Portal</a></li>
                        <li><div class="dividerLine"></div></li>
                        <li><a class="link-danger" href="http://aimsasv.is.sei.co.jp:8681/dxvas/dxzzServlet?lang=3">AIMS</a></li>
                        <li><div class="dividerLine"></div></li>
                        <li><a class="link-danger" href="https://gwf2-o.sei.co.jp/proself/login/login.go?AD=init">GWF2</a></li>
                        <li><div class="dividerLine"></div></li>
                        <li><a class="link-danger" href="https://mars.is.sei.co.jp:7607/saiUim/saiUimServlet/sams0100">MARS(Email Setting)</a></li>
                    </ul>
                    </div>
                        <div class="divider"></div>
                        <ul class="website-list" style="font-weight: bold;">
                            <li style="margin-left: 10px;"><a class="link-dark" href="http://gmcore.sei.co.jp/mcore/">GMCore</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="margin-left: 10px;"><a class="link-dark" href="http://com00.is.sei.co.jp:7000/RakPortal30/rkptServlet">SEI Portal</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="margin-left: 10px;"><a class="link-dark" href="http://aimsasv.is.sei.co.jp:8681/dxvas/dxzzServlet?lang=3">AIMS</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="margin-left: 10px;"><a class="link-dark" href="https://gwf2-o.sei.co.jp/proself/login/login.go?AD=init">GWF2</a></li>
                            <li><div class="dividerLine2"></div></li>
                            <li style="margin-left: 10px;"><a class="link-dark" href="https://mars.is.sei.co.jp:7607/saiUim/saiUimServlet/sams0100">Email Setting</a></li>

                        </ul>
                    </div>
                </div>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://sei.co.jp/company/sei-world/2015/05/img/img_group-companies_03.jpg" alt="My Image">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://tu.viettechcorp.vn/images/sumiden.jpg" alt="My Image">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://sei.co.jp/company/sei-world/2015/05/img/img_group-companies_03.jpg" alt="My Image">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://tu.viettechcorp.vn/images/sumiden.jpg" alt="My Image">
            </a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
