@{
    ViewData["Title"] = "Phone Number List";
}
<h1>@ViewData["Title"]</h1>


<head>
    <style>
        /* CSS styles for the sections and dishes */
        .section {
            width: 100%; /* Adjust the width to your desired value */
            margin: 0 auto;
            vertical-align: top;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            margin-top: 10px;
        }

        .section-content {
            display: flex;
            width: 100%;
        }

            .section-content .divider {
                width: 1px;
                background-color: #ccc;
                margin: 0 10px 0 0;
            }

        .section h2 {
            text-align: center;
        }

        .website-list {
            list-style-type: none;
            padding: 0;
        }

            .website-list li {
                margin-bottom: 10px;
                margin-top: 10px;
            }

        .divider2 {
            width: 100%;
            height: 1px;
            background-color: #ccc;
            margin: 10px 0;
        }

        .bigger-paragraph {
            font-size: 20px;
            font-family: "Times New Roman", Times, serif;
        }
    </style>
</head>
<div class="row">
<div class="col-md-6">
<div class="container">
    
    <div class="section">
        <h2 style="font-weight: bold;">SEDV</h2>
        <div class="divider2"> </div>
        <div class="section-content">
            <div class="col-md-9">
                <ul class="website-list bigger-paragraph">
                    <li>Mr. Tamura</li>
                    <li>Mr. Yamazaki</li>
                    <li>Mr. Murakami</li>
                    <li>Mr. Usui</li>
                    <li>Mr. Fukushima</li>
                    <li>Mr. Nakagawa</li>
                    <li>Mr. Wakasaki</li>
                    <li>Mr. Aikawa</li>
                    <li>Mr. Hanato</li>
                    <li>Mr. Hasegawa</li>
                    <li>Meeting 1</li>
                    <li>Meeting 2</li>
                    <li>Meeting 3</li>
                    <li>Conference 1</li>
                    <li>Conference 2</li>
                    <li>Guest 1</li>
                    <li>Guest 2</li>
                    <li>Director</li>
                    <li>Reception</li>
                    <li>Clinic (Phòng y tế)</li>
                    <li>Drive (Phòng tài xế)</li>
                    <li>Bảo vệ nam</li>
                    <li>Bảo vệ nữ</li>
                    <li>M.E</li>
                    <li>Nhân sự (Ms. Thảo)</li>
                    <li>Nhân sự (Ms.Phát)</li>
                    <li>Nhân sự (Ms.Hằng/Ms.Tâm)</li>
                    <li>Nhân sự (Ms.Lệ)</li>
                </ul>

            </div>
            <div class="divider"></div>
            <ul class="website-list bigger-paragraph">
                <!-- Add your content for the second section here -->
                <li>251</li>
                <li>257</li>
                <li>135</li>
                <li>119</li>
                <li>253</li>
                <li>255</li>
                <li>139</li>
                <li>259</li>
                <li>252</li>
                <li>258</li>
                <li>301</li>
                <li>302</li>
                <li>303</li>
                <li>304</li>
                <li>305</li>
                <li>306</li>
                <li>307</li>
                <li>308</li>
                <li>160</li>
                <li>161</li>
                <li>162</li>
                <li>102</li>
                <li>202</li>
                <li>225</li>
                <li>150</li>
                <li>151</li>
                <li>152</li>
                <li>140</li>
            </ul>
        </div>
        </div>
    </div>
</div>


<div class="col-md-6">
<div class="container">
    
    <div class="section">
        <h2 style="font-weight: bold;">SEDV</h2>
        <div class="divider2"> </div>
        <div class="section-content">
            <div class="col-md-9">
                <ul class="website-list bigger-paragraph">
                    <li>Kế toán (Ms.Thảo, Ms.Hiền, Ms Linh/Ms/Hằng)</li>
                    <li>Xuất N. Khẩu (Ms.Dương)</li>
                    <li>Xuất N.Khẩu (Ms.Nhi)</li>
                    <li>Xuất N.Khẩu (Ms.Tuyết, Ms.Nhất)</li>
                    <li>Xuất N.Khẩu (Ms.Chung)</li>
                    <li>Ms. Giang</li>
                    <li>QC Mr. Vỹ</li>
                    <li>QC Ms. Thuyết, Ms. Oanh</li>
                    <li>QC Ms. Châu, Ms. Sương</li>
                    <li>ISO Ms. Bảy, Ms. Loan</li>
                    <li>Ms. Thủy</li>
                    <li>Ms. Lam, Ms. Xuân</li>
                    <li>Ms. Hậu, Ms P.Thảo</li>
                    <li>Mr. Mẫn</li>
                    <li>Pro Tech Mr. Thật, Kaizen Ms. Minh</li>
                    <li>Nhóm Kỹ Thuật Mr. Hóa, Phúc</li>
                    <li>IT Mr. Hiển, Mr. Khánh, Mr. Vũ, Mr. Quang</li>
                    <li>M.E Mr. Dũng, Mr. Thảo, Mr. Hiếu</li>
                    <li>P.Sạch 1/Ass PD/LD (Ms.Lam, Hảo, Lượt)</li>
                    <li>P.Sạch 1-QC</li>
                    <li>P. Sạch 2/Ass MMIC (Ms. Trang, Mai)</li>
                    <li>P. Sạch 2/Ass MMIC (Ms. Hảo)</li>
                    <li>P. Sạch 2/Ass MMIC-Sorting (Ms.Hào)</li>
                    <li>P. Sạch 2/Ass MMIC (Line mới)</li>
                    <li>P. Acc</li>
                    <li>P. CMT1 (Mr. Tự, Ms. Thu, T. Thảo)</li>
                    <li>P. CMT2 (Mr. Thắng, Ms. Oanh/Ms. Thảo (QC)) </li>
                    <li>P. CMT3 (Ms. Tình, Hương, Thủy/Ms. Hoài(QC))</li>
                    <li>Kho - Xuất hàng Device</li>
                    <li>Kho nguyên liệu</li>
                    <li>Kho đồng phục</li>
                </ul>

            </div>
            <div class="divider"></div>
            <ul class="website-list bigger-paragraph">
                <!-- Add your content for the second section here -->
                <li>143/144</li>
                <li>147</li>
                <li>146</li>
                <li>145</li>
                <li>155</li>
                <li>109</li>
                <li>130</li>
                <li>129</li>
                <li>138</li>
                <li>132</li>
                <li>228</li>
                <li>116</li>
                <li>230</li>
                <li>131</li>
                <li>229</li>
                <li>139</li>
                <li>122</li>
                <li>124</li>
                <li>113/114</li>
                <li>123</li>
                <li>117/115</li>
                <li>128</li>
                <li>120</li>
                <li>125</li>
                <li>118</li>
                <li>111</li>
                <li>127/126</li>
                <li>121/137</li>
                <li>106</li>
                <li>107</li>
                <li>133</li>
            </ul>
        </div>
        </div>
    </div>
</div></div>