@{
    ViewData["Title"] = "Phone Number List";
}
<h1>@ViewData["Title"]</h1>


<head>
    <style>
        /* CSS styles for the sections and dishes */
        .section {
            width: 100%; /* Adjust the width to your desired value */
            margin: 0 auto;
            vertical-align: top;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            margin-top: 10px;
        }

        .dividerLine {
            width: 100%;
            height: 1px;
            background-color: #000000;
        }

        .section-content {
            display: flex;
            width: 100%;
        }

            .section-content .divider {
                width: 1px;
                background-color: #ccc;
                margin: 0 0 0 0;
            }

        .section h2 {
            text-align: center;
        }

        .website-list {
            list-style-type: none;
            padding: 0;
        }

            .website-list li {
                margin-bottom: 10px;
                margin-top: 10px;
            }

        .divider2 {
            width: 100%;
            height: 1px;
            background-color: #ccc;
            margin: 10px 0;
        }

        .bigger-paragraph {
            font-size: 20px;
            font-family: "Times New Roman", Times, serif;
        }
    </style>
</head>
<div class="row">
<div class="col-md-6">
<div class="container">
    
    <div class="section">
        <h2 style="font-weight: bold;">SEDV</h2>
        <div class="divider2"> </div>
        <div class="section-content">
            <div class="col-md-9">
                <ul class="website-list" style="font-weight: bold;">
                            <li>Mr. Tamura</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Mr. Yamazaki</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Mr. Murakami</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Mr. Usui</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Mr. Fukushima</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Mr. Nakagawa</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Mr. Wakasaki</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Mr. Aikawa</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Mr. Hanato</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Mr. Hasegawa</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Meeting 1</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Meeting 2</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Meeting 3</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Conference 1</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Conference 2</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Guest 1</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Guest 2</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Director</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Reception</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Clinic (Phòng y tế)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Drive (Phòng tài xế)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Bảo vệ nam</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Bảo vệ nữ</li>
                            <li><div class="dividerLine"></div></li>
                            <li>M.E</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Nhân sự (Ms. Thảo)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Nhân sự (Ms.Phát)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Nhân sự (Ms.Hằng/Ms.Tâm)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Nhân sự (Ms.Lệ)</li>

                </ul>

            </div>
            <div class="divider"></div>
            <ul class="website-lis" style="font-weight: bold;">
                <!-- Add your content for the second section here -->
                        <li style="margin-left: 10px;">251</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">257</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">135</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">119</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">253</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">255</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">139</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">259</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">252</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">258</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">301</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">302</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">303</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">304</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">305</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">306</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">307</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">308</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">160</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">161</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">162</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">102</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">202</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">225</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">150</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">151</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">152</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">140</li>

            </ul>
        </div>
        </div>
    </div>
</div>


<div class="col-md-6">
<div class="container">
    
    <div class="section">
        <h2 style="font-weight: bold;">SEDV</h2>
        <div class="divider2"> </div>
        <div class="section-content">
            <div class="col-md-9">
                <ul class="website-list" style="font-weight:bold;">
                            <li>Kế toán (Ms.Thảo, Ms.Hiền, Ms Linh/Ms/Hằng)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Xuất N. Khẩu (Ms.Dương)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Xuất N.Khẩu (Ms.Nhi)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Xuất N.Khẩu (Ms.Tuyết, Ms.Nhất)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Xuất N.Khẩu (Ms.Chung)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Ms. Giang</li>
                            <li><div class="dividerLine"></div></li>
                            <li>QC Mr. Vỹ</li>
                            <li><div class="dividerLine"></div></li>
                            <li>QC Ms. Thuyết, Ms. Oanh</li>
                            <li><div class="dividerLine"></div></li>
                            <li>QC Ms. Châu, Ms. Sương</li>
                            <li><div class="dividerLine"></div></li>
                            <li>ISO Ms. Bảy, Ms. Loan</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Ms. Thủy</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Ms. Lam, Ms. Xuân</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Ms. Hậu, Ms P.Thảo</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Mr. Mẫn</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Pro Tech Mr. Thật, Kaizen Ms. Minh</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Nhóm Kỹ Thuật Mr. Hóa, Phúc</li>
                            <li><div class="dividerLine"></div></li>
                            <li>IT Mr. Hiển, Mr. Khánh, Mr. Vũ, Mr. Quang</li>
                            <li><div class="dividerLine"></div></li>
                            <li>M.E Mr. Dũng, Mr. Thảo, Mr. Hiếu</li>
                            <li><div class="dividerLine"></div></li>
                            <li>P.Sạch 1/Ass PD/LD (Ms.Lam, Hảo, Lượt)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>P.Sạch 1-QC</li>
                            <li><div class="dividerLine"></div></li>
                            <li>P. Sạch 2/Ass MMIC (Ms. Trang, Mai)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>P. Sạch 2/Ass MMIC (Ms. Hảo)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>P. Sạch 2/Ass MMIC-Sorting (Ms.Hảo)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>P. Sạch 2/Ass MMIC (Line mới)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>P. Acc</li>
                            <li><div class="dividerLine"></div></li>
                            <li>P. CMT1 (Mr. Tự, Ms. Thu, T. Thảo)</li>
                            <li><div class="dividerLine"></div></li>
                            <li>P. CMT2 (Mr. Thắng, Ms. Oanh/Ms. Thảo (QC))</li>
                            <li><div class="dividerLine"></div></li>
                            <li>P. CMT3 (Ms. Tình, Hương, Thủy/Ms. Hoài(QC))</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Kho - Xuất hàng Device</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Kho nguyên liệu</li>
                            <li><div class="dividerLine"></div></li>
                            <li>Kho đồng phục</li>


                </ul>

            </div>
            <div class="divider"></div>
            <ul class="website-list" style="font-weight:bold;">
                <!-- Add your content for the second section here -->
                        <li style="margin-left: 10px;">143/144</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">147</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">146</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">145</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">155</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">109</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">130</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">129</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">138</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">132</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">228</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">116</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">230</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">131</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">229</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">139</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">122</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">124</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">113/114</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">123</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">117/115</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">128</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">120</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">125</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">118</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">111</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">127/126</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">121/137</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">106</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">107</li>
                        <li><div class="dividerLine"></div></li>
                        <li style="margin-left: 10px;">133</li>


            </ul>
        </div>
        </div>
    </div>
</div></div>